<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>The Old Timer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
      <h1>* The Old Timer *</h1>

      <header>
    		<h2>Please enter the following information to log on to your profile</h2>
        <form action="{{ url_for("gfgh")}}" method="post">
        <label for="firstname" id="Lfirst" class="field1">First Name:</label>
        <input type="text" id="firstname" class="field1" name="fname" placeholder="First name">
        <label for="lastname" id="Llast" class="field1">Last Name:</label>
        <input type="text" id="lastname" class="field1" name="lname" placeholder="Last name">
        <label for="DOB" id="Ldob" class="field1">Date of Birth:</label>
        <input type="text" id="dob" class="field1" name="dob" placeholder="Date of Birth">
        <button type="submit" id="submitB" class="field1" name="submit_info" value="info">Login</button>
    	</header>

      <main>
        <form action="{{ url_for("gfgh")}}" method="post">
        <h3 id="h3Rx">Please enter the local image address of your prescription</h3>
        <label for="imageAddress" id="imAdr" class="field2">The Address of the Prescription Image:</label>
        <input type="text" id="rx_address" class="field2" name="rx_address" placeholder="Image Address" size="72">
        <button type="submit" id="confirm1" class="field2" name="submit_address" value="address">Confirm</button>

        <form action="{{ url_for("gfgh")}}" method="post">
        <h3 id="h3Other">Please enter the following information to help generate a timesheet from your prescription</h3>
        <!-- <div> <label for="sleep" id="Lsleep" class="field3">Please enter your approximate bed time and wake-up time:</label> </div> -->
        <label id="Lsleep1" class="field3">I usually go to bed around </label>
        <input type="text" id="sleep_bed" class="field4" name="sleep_bed" placeholder="Your sleep time">
        <label id="Lsleep2" class="field4">, and I usually wake up around </label>
        <input type="text" id="sleep_wake" class="field4" name="sleep_wake" placeholder="Your wake-up time">
        <div> <label id="Lexe1" class="field3">I usually go exercising around </label>
        <input type="text" id="exercise_bed" class="field4" name="exe_start" placeholder="Your exercise start time">
        <label id="Lexe2" class="field4">, and I usually come back around </label>
        <input type="text" id="exercise_wake" class="field4" name="exe_end" placeholder="Your exercise end time"> </div>
        <div> <label for="breakfast" id="Lbreakfast" class="field3">I usually have my <b>breakfast</b> around </label>
        <input type="text" id="breakfast" class="field4" name="breakfast" placeholder="Your breakfast time"> </div>
        <div> <label for="lunch" id="Llunch" class="field3">I usually have my <b>lunch</b> around </label>
        <input type="text" id="lunch" class="field4" name="lunch" placeholder="Your lunch time"> </div>
        <div> <label for="dinner" id="Ldinner" class="field3">I usually have my <b>dinner</b> around </label>
        <input type="text" id="dinner" class="field4" name="dinner" placeholder="Your dinner time"> </div>
        <div> <button type="submit" class="field3" name="submit_bed_and_meal" value="bed_and_meal">Confirm</button> </div>
      </main>

      <!--
      <button> <a href="/my-link/">Button Text</a> </button>
      <nav>
        <a href="/sample_function/">Sample</a>
        <a href="/">Index</a>
        <a href="/test-page1/">Test Page 1</a>
        <a href="http://www.usaultimate.org/index.html" target="_blank">USA Ultimate</a>
      </nav>
      <form action="/test-prog/">
          <input type="submit" value="Form Text" />
      </form>
      -->

  </body>
</html>
