body {
  margin: 40px 60px;
}

h1 {
  color: #5b3232;
  background: #777613;
  background: -moz-linear-gradient(top, #777613, #c9e78d);
  background: -webkit-linear-gradient(#777613, #c9e78d);
  background: -o-linear-gradient(#777613, #c9e78d);
  background: linear-gradient(#777613, #c9e78d);
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;

  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;

  transition-property: background, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

h1:hover {
  color: #fad42c;
  background: #642cfa;
}

header {
  font-size: 90%;
  color: #000080;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.field1 {
  font-size: 120%;
}

#Lfirst, #Llast, #Ldob, #submitB {
  margin-left: 25px;
}

#submitB {
  padding: 1px 15px;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

#h3Rx {
  color: #c14d1c;
}

#imAdr {
  margin-left: 25px;
}

/* #rx_address {
  margin: 1px 40px;
} */

#confirm1 {
  margin-left: 42px;
}

.field2 {
  color: #777613;
  font-size: 110%;
  margin-bottom: 25px;
}

#h3Other, .field3, .field4 {
  color: #6940aa;
}

.field3 {
  margin-left: 25px;
  font-size: 110%;
  margin-bottom: 20px;
}

.field4 {
  font-size: 110%;
  margin-bottom: 20px;
}

#sleep_bed, #sleep_wake, #breakfast, #lunch, #dinner {
  margin-top: 2px;
}



/* !!!! THE FOLLOWING MUST LEAVE IN THE END !!!! */
header, main {
  transition-property: background, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

header:hover, main:hover {
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  background-color: beige;
}

input {
  color: #000000;
}
